
<nav class="navbar navbar-default">
  <button type="button" class="btn btn-outline-dark pt-3 pb-3 pl-4 pr-4 blank"(click)="home()">Home</button>
  <button type="button" class="btn btn-outline-dark pt-3 pb-3 pl-4 pr-4 blank" routerLink='/calculator'
  (click)="toggleDisplay()">Calculator</button>
  <button type="button" class="btn btn-outline-dark pt-3 pb-3 pl-4 pr-4 blank" 
  (click)="application()">Application</button>
  <button type="button" class="btn btn-outline-dark pt-3 pb-3 pl-4 pr-4 blank" 
  (click)="apply()">Apply Now</button>
  
  <button type="button" class="btn btn-outline-dark pt-3 pb-3 pl-4 pr-4 blank" routerLink='/trackstatus'>Track Status</button>
  <button type="button" class="btn btn-outline-dark pt-3 pb-3 pl-4 pr-4 blank" routerLink='/faq'
  (click)="toggleDisplay()">FAQ</button>
  <button type="button" class="btn btn-outline-dark pt-3 pb-3 pl-4 pr-4 blank" routerLink='/aboutus' 
  (click)="toggleDisplay()">About us</button>
  
  <button type="button" class="btn btn-outline-dark pt-3 pb-3 pl-4 pr-4 blank" (click)="logout()">Logout</button>
</nav>
<div class="d-flex justify-content-center pt-5" >
  <div class="border pt-5 pb-5 pl-5 pr-5">
  <!-- <div class = "border border-light"> -->
        <input type="text" class="form-control" id="ApplicationId"  placeholder="Enter your Application Id" name ="ApplicationId" [(ngModel)]="ApplicationId">
        <br><br>
        <button id="b1" type="submit" name="submit"  (click)="trackStatus()">Track</button>

        <br><br>
        <div style="text-align: center;">
      <span id="msg" >{{msg}}</span>
      <br>
      <span id="msg1">{{msg1}}</span>
    </div>
      <br><br>
  </div>
</div>