#b1 {  
    background-color: rgb(6, 6, 8);  
    color: rgb(255, 255, 255);  
    font-size: 15px;  
    margin: auto;  
    height:50px; 
    width:100px; 
    margin: -20px -50px; 
    position:relative;
    left:50%;
    
}
