<div class="d-flex justify-content-center pt-5" >
    <div class="border pt-5 pb-5 pl-5 pr-5">
    <!-- <div class = "border border-light"> -->
          <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email" [(ngModel)]="email">
          <br><br>
          <button type="submit" name="submit"  (click)="getPassword()">Get password</button>
  
          <br><br>
        <span>{{msg}}</span>
        <br><br>
        <button type="button"id="login" routerLink='/login' style="visibility:hidden" >Back to login</button>
    </div>
  </div>