<button type="button" class="btn btn-outline-dark pt-3 pb-3 pl-3 pr-3 ml-4 blank " 
 routerLink='/admin/userapplication'>
 Approve 1</button>

 <button type="button" class="btn btn-outline-dark pt-3 pb-3 pl-3 pr-3 ml-4 blank " 
 routerLink='/admin/userapplication2'>
 Approve 2</button>
 <!-- <button type="button" class="btn btn-outline-dark pt-3 pb-3 pl-3 pr-3 ml-4 blank " 
 routerLink='/admin/viewall'>
 View All Documents</button> -->

 <button type="button" class="btn btn-outline-dark pt-3 pb-3 pl-3 pr-3 ml-4 blank " (click)="logout()">
 Logout</button>

 <router-outlet></router-outlet>

 <br><br>
 <br>

