<nav class="navbar navbar-default">
    <button type="button" class="btn btn-outline-dark pt-3 pb-3 pl-4 pr-4 blank"(click)="home()">Home</button>
    <button type="button" class="btn btn-outline-dark pt-3 pb-3 pl-4 pr-4 blank" routerLink='/calculator'
    (click)="toggleDisplay()">Calculator</button>
    <button type="button" class="btn btn-outline-dark pt-3 pb-3 pl-4 pr-4 blank" 
    (click)="application()">Application</button>
    <button type="button" class="btn btn-outline-dark pt-3 pb-3 pl-4 pr-4 blank" 
    (click)="apply()">Apply Now</button>
    
    <button type="button" class="btn btn-outline-dark pt-3 pb-3 pl-4 pr-4 blank"routerLink='/trackstatus'>Track Status</button>
    <button type="button" class="btn btn-outline-dark pt-3 pb-3 pl-4 pr-4 blank" routerLink='/faq'
    (click)="toggleDisplay()">FAQ</button>
    <button type="button" class="btn btn-outline-dark pt-3 pb-3 pl-4 pr-4 blank" routerLink='/aboutus' 
    (click)="toggleDisplay()">About us</button>
    
    <button type="button" class="btn btn-outline-dark pt-3 pb-3 pl-4 pr-4 blank" (click)="logout()">Logout</button>
  </nav>
  
    
  <router-outlet></router-outlet>
<hr>
<!-- <nav class="navbar navbar-default text-center"> -->
    <!-- &nbsp; -->
    <div class="container" role="main">

        <div  class="center-block text-center">    
                <button type="button" class="btn btn-outline-dark pt-3 pb-3 pl-3 pr-3 blank" 
                    [hidden] = "isShow" routerLink='/calculator/eligible' (click)="toggleDisplay()">
                    Eligibility Calculator
                </button>
                &nbsp;&nbsp;&nbsp;
                <button type="button" class="btn btn-outline-dark pt-3 pb-3 pl-3 pr-3 px-4 blank" 
                    [hidden] = "isShow" routerLink='/calculator/emi' (click)="toggleDisplay()">
                    EMI Calculator
                </button>
        </div>
    </div>
<!-- </nav> -->
<router-outlet></router-outlet>